<div class="container">
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600" *ngIf="!adeslogado">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Bem vindo</span>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
          <li class="mdl-menu__item" (click)="showAbout()">Sobre</li>
        </ul>
      </div> 
    </header>

    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50" *ngIf="!adeslogado">
      <header class="demo-drawer-header">
        <app-uprofile></app-uprofile>
      </header>
      <app-menu></app-menu>
    </div>

    <router-outlet *ngIf="adeslogado"></router-outlet> 

    <main class="mdl-layout__content mdl-color--grey-100" *ngIf="!adeslogado" style="overflow-y: hidden;">
      <div class="mdl-grid demo-content">
        <div class="demo-cards mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid mdl-grid--no-spacing">


          <div class="mdl-dialog mm" *ngIf="popupVisible" style="background-color: white;z-index: 500000;">
              <h4 class="mdl-dialog__title">SIMG</h4>
              <div class="mdl-dialog__content">
                  <p>
                    Software Integrador de Modulos Gerenciais
                  </p>
              </div>
              <div class="mdl-dialog__actions">
                  <button type="button" class="mdl-button" (click)="hideAbout()">OK</button>
              </div>
          </div>

          <router-outlet></router-outlet> 
        </div>
      </div>
    </main>
  </div>
</div>